@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*                                      Variaveis de cores*/
:root {
    --white-color: #f2f2f2;
    --main-color: #a3ddbe;
    --secondary-color: #c0e0de;
    --shadow-color: #;
    --text-color-900: #;
    --text-color-700: #;
    --bg-color: #0c544f;
    --bg-color-2: #25485c;
}

/*                                      Usos avulsos*/
.hidden {
    display: none;
}

.shadow {
    border: 1px solid rgba(0, 0, 0, 0.527);
}

/*                                      Inicio Css body*/
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--main-color);
}

.main {
    height: 80vh;
    display: grid;
    grid-template-areas: "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c" "b c c c    c c c c    c c c c";
    gap: 10px;
    margin: 30px;
    /* .header = grid-area: a; .navbar = grid-area: b; .conteudo = grid-area: c; */
}

.header {
    background-color: var(--white-color);
    display: flex;
    height: 100px;
}

.header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 5%;
}

.header .logo i,
.header .logo p {
    padding: 5px;
}

.header .logo i {
    font-size: 2rem;
}

.header .logo p {
    font-size: 1.8rem;
}

.header .login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 5%;
}

.header .login i,
.header .login p {
    padding: 5px;
}

.header .login i {
    font-size: 2rem;
}

.header .login p {
    font-size: 1.6rem;
}

.navbar {
    grid-area: b;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.navbar h1 {
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
    height: 60px;
    color: var(--white-color);
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-auto-flow: column;
}

.navbar ul li {
    letter-spacing: 2px;
    padding: 20px 0;
    list-style: none;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color-900);
    cursor: pointer;
}

.navbar ul li:first-child {
    margin-top: 20px;
}

.buttonPosition {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.btn-buscar {
    width: 50%;
    border-radius: 15px;
    height: 70px;
    cursor: pointer;
    background-color: var(--bg-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-buscar a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1.8rem;
    padding: 13px 32px;
}

.icon {
    color: black;
    padding-right: 7px;
    font-size: 30px;
}

.conteudo {
    grid-area: c;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding-top: 0px;
}

.editar {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    align-items: right;
    justify-content: right;
    display: flex;
}

.edit {
    cursor: pointer;
    height: 100%;
    font-size: 40px;
}

.conteudo1 {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.positionbutton {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.botao {
    background-color: #0c544f;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.conteudo1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2px;
    align-items: center;
    justify-content: center;
}

input{
    width: 250px;
    height: 50px;
    border-radius: 15px;
    outline: none;
    background-color: #BFBFBF;
}

.conteudo2{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}



/*                                                          @Medias*/
@media screen and (max-width: 1300px) {
    .main {
        grid-template-areas: "b b c c    c c c c    c c c c" "b b c c    c c c c    c c c c" "b b c c    c c c c    c c c c" "b b c c    c c c c    c c c c" "b b c c    c c c c    c c c c" "b b c c    c c c c    c c c c";
    }
}

@media screen and (max-width: 830px) {
    .main {
        grid-template-areas: "b b b b    b b b b    b b b b" "c c c c    c c c c    c c c c" "c c c c    c c c c    c c c c" "c c c c    c c c c    c c c c" "c c c c    c c c c    c c c c" "c c c c    c c c c    c c c c" "c c c c    c c c c    c c c c" "c c c c    c c c c    c c c c" "c c c c    c c c c    c c c c" "c c c c    c c c c    c c c c" "c c c c    c c c c    c c c c" "c c c c    c c c c    c c c c";
    }

    .header .logo p {
        font-size: 1.3rem;
    }

    .header .login p {
        font-size: 1.3rem;
    }

    .navbar ul {
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-auto-flow: column;
        justify-content: space-around;
        margin-left: 0px;
        padding: 15px;
        margin: 20px 0;
    }

    .navbar ul li {
        letter-spacing: 2px;
        padding: 0;
    }

    .navbar ul li:first-child {
        margin-top: 0px;
    }

    .spanNone {
        display: none;
    }

    .buttonPosition {
        margin-top: 0;
    }

input{
        width: 200px;
    }
}