:root {
    --white-color: #f2f2f2;
    --main-color: #a3ddbe;
    --secondary-color: #c0e0de;
    --shadow-color: #;
    --text-color-900: #;
    --text-color-700: #;
    --bg-color: #0c544f;
    --bg-color-2: #25485c;
 }

.conteudo {
    grid-area: c;
    background-color: var(--secondary-color);
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 24px;
    overflow: auto;
}

.anotacoes {
    width: calc(100% - 20px);
    /* Ajusta a largura para levar em conta o espaço da barra de rolagem */
    padding-right: 10px;
    /* Adiciona um espaço para a barra de rolagem não sobrepor o conteúdo */
}


.caixa {
    width: calc(100% - 40px);
    background-color: var(--white-color);
    margin-bottom: 25px;
    border-radius: 5px;
    height: 100px;
    /* AJUSTA A ALTURA DAS CAIXAS */
}

h3 {
    color: var(--white-color);
    background-color: var(--bg-color);
}

.popup {

    width: 600px;
    height: 600px;
}

.btn-pop {
    width: 90%;
   height: 70px;
   border-radius: 15px;
   font-weight: bold;
   font-size: 1.3rem;
   cursor: pointer;
   background-color: var(--bg-color-2);
   color: var(--white-color);
}

.caixa {

    overflow: hidden;
}

.caixa p {

    margin-left: 5px;
}

/* CSS adicional para o popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: 300px;
}

.popup input,
.popup textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.popup button {
    box-sizing: border-box;
    border-radius: 6px;
    margin-left: 40%;
    height: 40px;
    width: 60px;
    background-color: var(--bg-color);
    color: white;
    border: none;
    cursor: pointer;
}

.popup h3,
.popup p {
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

/* Ajuste da distância da data do canto direito */
.data {
    float: right;
    margin-right: 20px;
    /* Ajuste esta margem conforme necessário */
}

.position-relative {
    position: relative;
}

.checkboxExcluir {
    position: absolute;
    top: 75px;
    right: 5px;
}

.container-conteudo {
    width: 100%;
}

.caixa {
    width: 100%;
}

.caixa h3 {
    padding: 0px 10px;
}

.header .login a {
    text-decoration: none;
    color: black;
}

.header .login a:hover {
    color: var(--bg-color);
}